useDynLib(SearchTrees)
exportPattern(createIndex,
              findKNN,
              getPointsInRect,
              createTree,
              rectLookup)
exportClass(SearchTree,
            QuadTree,
            QuadTree2,
            SearchTree2
            )
